{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<div class="front-banner block-section front-banner--main is-center is-transparent search-overview">
  <div class="front-banner__inner">
    <div class="page-frame">
      <div class="front-banner__title">
        {{ form.title }}
      </div>

      <div class="overview-search__form">
        {{ form.how_can_we_help }}
        {{ form.actions.submit }}

        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
      </div>
    </div>
  </div>
</div>
