{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--onecol',
  'finance-block__col',
  'swiper-slide',
  'animate-fadein-effect'
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      {% if content.content.field_twi_image[0] %}
        <div class="finance-block__icon">
          {{ content.content.field_twi_image }}
        </div>
      {% endif %}

      {% if content.content.field_title[0] %}
        <div class="finance-block__title">
          {{ content.content.field_title }}
        </div>
      {% endif %}

      {% if content.content.field_subtitle[0] %}
        <div class="finance-block__description">
          {{ content.content.field_subtitle }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

