{%
  set classes = [
  'layout',
  'layout--onecol',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      {% if content.content.field_article_categories[0] %}
        <div class="nb-item__topic"><svg class="q-icon"><use xlink:href="#icon-news"></use></svg>
          {{ content.content.field_article_categories }}
        </div>
      {% endif %}
      <div class="nb-item__group">
        <div class="nb-item__date"><time>{{ content.content.node_post_date }}</time></div>
        <div class="nb-item__name">{{ content.content.node_title }}</div>
      </div>
      <div class="nb-item__link">{{ content.content.node_link }}</div>
    </div>
  </div>
{% endif %}
