{% set link_classes = { '#attributes': { 'class': [ 'btn-primary__dark' ] } } %}
{% set layout_classes = [
    'info-block',
    'block-section',
    'is-image--contain'
  ]
%}
<div{{ attributes.addClass(layout_classes) }}">
    <div class="info-block__row">
        {% if not img_right %}
          <div class="info-block__col is-image">
            <style>
              {% if content.left.field_mobile_image[0] %}
              @media all and (min-width: 768px) {
                .info-block__image-id-1 {
                  background-image: url({{ content.right.field_mobile_image[0]|render }});
                }
              }
              {% endif %}

              {% if content.left.field_image[0] %}
              @media all and (max-width: 767px) {
                .info-block__image-id-1 {
                  background-image: url({{ content.right.field_image[0]|render }});
                }
              }
              {% endif %}
            </style>
            <div class="info-block__image" style="background-image: url('{{ content.right.field_image[0]|render }}')"></div>
          </div>
        {% endif %}
        <div class="info-block__col">
            <div class="info-block__content">
                <div class="info-block__icon"><svg class="q-icon"><use xlink:href="#simple-logo"></use></svg></div>
                <div class="block-title">
                    {{ content.left.field_title }}
                </div>
                <div class="info-block__list">
                    {{ content.left.field_text }}
                </div>
                {% if content.left.field_button[0] %}
                    <div class="info-block__btn">
                        {{ content.left.field_button[0]|merge(link_classes) }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if img_right %}
            <div class="info-block__col is-image">
              <style>
                {% if content.left.field_mobile_image[0] %}
                  @media all and (min-width: 768px) {
                    .info-block__image-id-1 {
                      background-image: url({{ content.right.field_mobile_image[0]|render }});
                    }
                  }
                {% endif %}

                {% if content.left.field_image[0] %}
                  @media all and (max-width: 767px) {
                    .info-block__image-id-1 {
                      background-image: url({{ content.right.field_image[0]|render }});
                    }
                  }
                {% endif %}
              </style>
              <div class="info-block__image" style="background-image: url('{{ content.right.field_image[0]|render }}')"></div>
            </div>
        {% endif %}
    </div>
</div>
