{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--onecol',
  'front-banner',
  'block-section',
  'front-banner--main',
]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="front-banner__bg skrollable skrollable-before"
         data-top-bottom="transform: translate3d(0px, 30%, 0px);"
         data--200-top="transform: translate3d(0px, 0%, 0px);"
         style="background-image: url({{ content.content.field_top_banner_bg[0]|render }}); transform: translate3d(0px, 0%, 0px);">
    </div>
    
    <div {{ region_attributes.content
              .addClass('layout__region', 'layout__region--content', 'front-banner__inner', 'skrollable skrollable-before')
              .setAttribute('data-top-bottom', 'transform: translate3d(0px, -30%, 0px); opacity: 0;')
              .setAttribute('data--200-top', 'transform: translate3d(0px, 0%, 0px); opacity: 1;')
              .setAttribute('style', 'transform: translate3d(0px, 0%, 0px); opacity: 1;') }}>
        <div class="page-frame">
          {% if content.content.field_title_line1[0] or content.content.field_title_line2[0] %}
            <div class="front-banner__title">
              <h1>
                {{ content.content.field_title_line1[0] }} <b>{{ content.content.field_title_line2[0] }}</b>
              </h1>
            </div>
          {% endif %}
  
          {% if content.content.field_subtitle[0] %}
            <div class="front-banner__description">
              {{ content.content.field_subtitle }}
            </div>
          {% endif %}
  
          {% if content.content.field_sub_subtitle[0] %}
            <div class="front-banner__note">
              {{ content.content.field_sub_subtitle }}
            </div>
          {% endif %}
          
          {% if content.content.field_button[0] %}
            <div class="front-banner__btn">
              {{ content.content.field_button[0]|merge({ '#attributes': { 'class': [ 'btn-primary__light' ] } }) }}
            </div>
          {% endif %}
        </div>
    </div>
  </div>
{% endif %}
