{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--onecol',
  'info-block',
  'block-section',
  'info-block__white',
  'is-top',
  'is-right',
  'is-image--contain',
  'is-image--large',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', 'info-block__row') }}>
      <div class="info-block__col">
        <div class="info-block__content">
          <div class="info-block__icon"><svg class="q-icon"><use xlink:href="#simple-logo"></use></svg></div>
          {% if content.content.field_title[0] %}
            <div class="block-title">
              {{ content.content.field_title[0] }}
            </div>
          {% endif %}
  
          {% if content.content.field_description[0] %}
            <div class="info-block__list">
              {{ content.content.field_description }}
            </div>
          {% endif %}
          
          {% if content.content.field_button[0] %}
            <div class="info-block__btn">
              {{ content.content.field_button[0]|merge({ '#attributes': { 'class': [ 'btn-primary__dark' ] } }) }}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="info-block__col is-image">
        {% if content.content.field_image[0] %}
          <div class="info-block__image">
            {{ content.content.field_image }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

