<div class="front-banner block-section front-banner--main is-center {% if background is empty %}is-transparent{% endif %} {{ search_overview }}">
    {% if search_overview is empty %}
        <div class="front-banner__bg" {% if background %}style="background-image: url('{{ background }}')"{% endif %}></div>
    {% endif %}
    <div class="front-banner__inner">
        <div class="page-frame">
            <div class="front-banner__title">
                {{ title }}
            </div>
            <div class="overview-search__form">
                <form{{ attributes }}>
                  {{ form.how_can_we_help }}
                  {{ form.submit }}

                  {{ form.form_build_id }}
                  {{ form.form_token }}
                  {{ form.form_id }}
                </form>
            </div>
        </div>
    </div>
</div>
