<div class="block-wrapper">
    <div class="page-frame">
        {% if title %}
            <h2>{{ title }}</h2>
        {% endif %}

        {% if description %}
            <div>{{ description }}</div>
        {% endif %}

        <div class="form-wrapper">
            {# This library is required for popups #}
            {{ attach_library('core/drupal.dialog.ajax') }}
            <form{{ attributes }}
                {{ form.client_type }}
                <div class="row">
                    {{ form.first_name }}
                    {{ form.last_name }}
                </div>
                {{ form.email }}
                <div class="row">
                    {{ form.phone }}
                    {{ form.country_code }}
                </div>
                {{ form.language }}
                {{ form.interests }}
                {{ form.captcha }}
                {{ form.submit }}
                {{ form.form_build_id }}
                {{ form.form_token }}
                {{ form.form_id }}
            </form>
        </div>
    </div>
</div>
