<div class="block-wrapper">
  <div class="page-frame">
    <div class="base-form">
      {% if title %}
        <div class="base-form__title"><h2>{{ title }}</h2></div>
      {% endif %}

      {% if description %}
        <div class="base-form__description">{{ description }}</div>
      {% endif %}

      <div class="base-form__wrapper js-animate-placeholder">
        {# This library is required for popups #}
        {{ attach_library('core/drupal.dialog.ajax') }}
        <form{{ attributes }}
        {{ form.client_type }}
        <div class="form-item-group">
          {{ form.first_name }}
          {{ form.last_name }}
        </div>
        {{ form.email }}
        <div class="form-item-group">
          {{ form.phone }}
          {{ form.country_code }}
        </div>
        {{ form.language }}
        {{ form.language_preference }}
        {{ form.captcha }}
        <div class="form-action-wrapper">
          <div class="form-actions form-wrapper">
            {{ form.submit }}
          </div>
        </div>
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        </form>
      </div>
    </div>
  </div>
</div>
