<div class="tabs-filters js-tabs-filters">
  <div class="page-frame">
    <div class="tabs-filters__wrap">
      <div class="tabs-filters__selected js-selected"></div>
      <div class="tabs-filters__drop js-drop">
        <form{{ attributes }}>
          {{ form.categories }}
          {{ form.actions }}
          {{ form.form_build_id }}
          {{ form.form_id }}
          {{ form.form_token }}
        </form>
      </div>
    </div>
  </div>
</div>
{{ attach_library('q8/module-tabs-filters') }}