{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--onecol',
  'features-block',
  'block-section',
  'js-block-slider',
  'is-slider',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes).setAttribute('data-bottom-top', '@fadeAttr: 0;').setAttribute('data-450-top', '@fadeAttr: 1;') }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      <div class="page-frame">
        {% if content.content.field_title[0] %}
          <div class="block-title block-center">
            {{ content.content.field_title[0] }}
          </div>
        {% endif %}
  
        {% if content.content.field_subtitle[0] %}
          <div class="block-description block-center">
            {{ content.content.field_subtitle }}
          </div>
        {% endif %}

        {% if content.content.field_twi_three_items %}
          <div class="features-block__grid swiper-wrapper">
            {{ content.content.field_twi_three_items }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {{ attach_library('q8_gray/module-features') }}
{% endif %}
