{% set link_classes = { '#attributes': { 'class': [ 'btn-primary__dark' ] } } %}
{% set layout_classes = [
    'info-block',
    'block-section',
    'is-image--contain'
  ]
%}
{% set css_id = '.info-block__image_' ~ entity_id %}

{% set url_bg_mobile_image = content.right.field_mobile_image[0]|render %}
{% set url_bg_image = content.right.field_image[0]|render %}

{% set style_bg  %}
  {% if url_bg_image %}
    @media all and (min-width: 768px) {
      {{ css_id }} {
      background-image: url({{ url_bg_image }});
      }
    }
  {% endif %}

  {% if url_bg_mobile_image %}
    @media all and (max-width: 767px) {
      {{ css_id }} {
      background-image: url({{ url_bg_mobile_image }});
      }
    }
  {% else %}
    @media all and (max-width: 767px) {
      {{ css_id }} {
        background-image: url({{ url_bg_image }});
      }
    }
  {% endif %}
{% endset %}

<div{{ attributes.addClass(layout_classes) }}">
    <div class="info-block__row">
        {% if not img_right %}
          <div class="info-block__col is-image">
            <style>
              {{ style_bg }}
            </style>
            <div class="info-block__image info-block__image_{{ entity_id }}">
              <img src="{{ url_bg_image }}" />
            </div>
          </div>
        {% endif %}
        <div class="info-block__col">
            <div class="info-block__content">
                <div class="block-title -diff-divide">
                    {{ content.left.field_title }}
                </div>
                <div class="info-block__list">
                    {{ content.left.field_text }}
                </div>
                {% if content.left.field_button[0] %}
                    <div class="info-block__btn">
                        {{ content.left.field_button[0]|merge(link_classes) }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if img_right %}
          <div class="info-block__col is-image">
            <style>
              {{ style_bg }}
            </style>
            <div class="info-block__image info-block__image_{{ entity_id }}"><img src="{{ url_bg_image }}" /></div>
          </div>
        {% endif %}
    </div>
</div>
