{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--onecol',
  'investing-block',
]
%}
{% set icon_path = '/' ~ directory ~ '/images' %}
{% set style  = 'background-image: url(' ~ content.content.field_image[0]|render  ~ ')' %}
{% if content %}
  <div{{ attributes.addClass(classes).setAttribute('style', style) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      <div class="page-frame">
        {% if content.content.field_title[0] %}
          <div class="block-title block-center">
            {{ content.content.field_title[0] }}
          </div>
        {% endif %}
  
        {% if content.content.field_subtitle[0] %}
          <div class="block-description block-center">
            {{ content.content.field_subtitle }}
          </div>
        {% endif %}
  
        {% if content.content.field_button[0] %}
          <div class="investing-block__cta">
            {{ content.content.field_button[0]|merge({ '#attributes': { 'class': [ 'btn-primary__light' ] } }) }}
          </div>
        {% endif %}
  
        {% if content.content.field_app_stores[0] %}
          {{ content.content.field_app_stores }}
        {% endif %}
      </div>
    </div>
    <div class="available-links__inner">
        <div class="investing__footer"></div>
        <div class="investing__footer">
            <div class="investing__footer__icon"><img src="{{ icon_path }}/clock2.png"></div>
            <div class="investing__footer__text">
                <div class="investing__footer__text__title">WORKING HOURS</div>
                <div class="investing__footer__text__content">
                    <p>Sun to Thu: 08:30 - 19:00</p>
                    <p>Friday: 08:30 - 18:00</p>
                </div>
            </div>
        </div>
        <div class="investing__footer">
            <div class="investing__footer__icon"><img src="{{ icon_path }}/phone.png"></div>
            <div class="investing__footer__text">
                <div class="investing__footer__text__title">OFFICE PHONE</div>
                <div class="investing__footer__text__content"><a href="tel:+96522265541">+965 222 655 41</a></div>
            </div>
        </div>
        <div class="investing__footer">
            <div class="investing__footer__icon"><img src="{{ icon_path }}/mail.png"></div>
            <div class="investing__footer__text">
                <div class="investing__footer__text__title">SERVICE SUPPORT</div>
                <div class="investing__footer__text__content"><a href="mailto:support@quaestor.com">support@quaestor.com</a></div>
            </div>
        </div>
        <div class="investing__footer"></div>
    </div>
  </div>
{% endif %}





