{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--onecol',
  'features-block__col',
  'block-center',
  'animate-fadein-effect',
  'swiper-slide'
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
        {% if content.content.field_image[0] %}
          <div class="fb-icon">
            {{ content.content.field_image }}
          </div>
        {% endif %}

        {% if content.content.field_title[0] %}
          <div class="fb-title">
            {{ content.content.field_title }}
          </div>
        {% endif %}

        {% if content.content.field_subtitle[0] %}
          <div class="fb-desc">
            {{ content.content.field_subtitle }}
          </div>
        {% endif %}
    </div>
  </div>
{% endif %}
